@import url("classic.css");

body {
  font-family: {{ 'Liberation', sans-serif }};
  font-size: 82%;
  color: #000;
  background-color: #fff;
  margin-left: 28px;
}

ul {
  margin: 0 0 0 0;
}

div.related {
  background-color: #444;
}

a,
div.sphinxsidebar h3 a,
div.sphinxsidebar a,
div.footer a {
  color: #444;
}

div.sphinxsidebar h3,
div.sphinxsidebar h4 {
  color: #000;
}

div.sphinxsidebar ul {
  font-size: 94%;
  color: #000;
}

div.sphinxsidebar input {
  border-color: #444;
}

div.document {
  background-color: #f5f8e4;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
  color: #000;
  background-color: transparent;
  border-bottom: 1px solid #444;
}

div.footer {
  color: #000;
}

li.toctree-l2 {
  font-size: 100%;
}

li.toctree-l3 {
  font-size: 100%;
}

div.sphinxsidebarwrapper ul {
  list-style-type: disc;
  margin-top: 1px;
  padding-left: 6px;
}

div.sphinxsidebarwrapper h3 {
  font-size: 100%;
  font-weight: bold;
}

div.body h1 {
  font-size: 200%;
}
div.body h2 {
  font-size: 160%;
}
div.body h3, div.body h4 {
  font-size: 125%;
}

div.body p.topic-title {
  margin-bottom: 2px;
  font-size: 100%;
}

div.sphinxsidebar p {
  color: #444;
}

#introduction p > em {
  text-align: right;
  float: right;
}

#introduction p {
  font-size: 90%;
  margin-bottom: 3px;
}

#introduction #id2.docutils.footnote {
  font-size: 70%;
  margin-top: 25px;
}

#introduction table.docutils.footnote {
  font-size: 70%;
  margin-top: 5px;
}


.tt {
    font-family:"Courier New",Courier,monospace;
}
.strike {
    text-decoration: line-through;
}

.bolditalic {
    font-style:italic;
    font-weight:bold
}

.underline {
    text-decoration:underline;
}

.tag {
    font-family:"Courier New",Courier,monospace;
}

.tagb {
    font-family:"Courier New",Courier,monospace;
    font-weight:bold
}

.todo {
    background-color:yellow;
}

.warn {
    background-color:#FFE4E4;
}

.info {
    background-color:#EEEEEE;
}

.date {
    font-family:"Courier New",Courier,monospace;
    font-style:italic;
}

